<!DOCTYPE html>
<html lang="en">
<head>
    <title>First contact with you</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            margin: 0 auto
        }
    </style>

</head>
<body>
    <div style="text-align:left, display: flex;
    justify-content: center;
    line-height: 2;">
        Dear ${company},<br/><br/>
        I'm ${salesperson} from BlossomCRM.<br/>
        I wanted to discuss how we could help you in ${description}.<br/>
        Are you available for a quick call or 10 minutes chat on Skype tommorrow at your convenient time?<br/>
        Hoping to hear from you!<br/><br/>
        Regards,<br/>
        BlossomCRM
    </div>
</body>
</html>