<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <title>Send email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap" rel="stylesheet">

    <style>
            body {
                margin: 0 auto; padding: 0;
                font-family: Pontano Sans, sans-serif;
            }
        </style>
</head>
<body>
    <table style="width: 720px" align="center">
        <tbody>
        <tr class="header" style="background-color: #4d648d">
                <td style="font-size: 35px; color: #ffffff; height: 120px;" align="center"><p><strong>MAKING THE FIRST CONTACT</strong></p></td>
        </tr>

        <tr class="logo">
            <td style="height: 100px; padding-top: 20px; padding-bottom: 10px;">
                <img style="display:block; margin-left: 20px" width="200px" src="cid:logo.png" alt="logo"/>
            </td>
        </tr>

        <tr class="message">
            <td style="padding-left: 20px; padding-bottom: 40px; vertical-align: top; color: black; font-size: 20px; font-weight: 400; line-height: 1.8;" align="left">
                <span>Dear ${company},<br/>
                    I am ${salesperson} from Blossom.<br/>
                    I wanted to discuss how we could help you in ${description}.<br/>
                    Are you available for a quick call or 10 minutes chat on Skype tomorrow at your convenient time?<br/>
                    Hoping to hear from you!<br/><br/>
                    Regards,<br/>Blossom CRM
                </span>
            </td>
        </tr>

        <tr style="background-color: #4d648d; vertical-align: middle;">
            <td align="center" style="height: 40px"><span style="font-size: 15px; color:#ffffff;">Powered by Blossom</span></td>
        </tr>

<!--        <tr>-->
<!--            <td>-->
<!--                <img src="/uploads/avatars/20240422142240192_spring.jpg">-->
<!--            </td>-->
<!--        </tr>-->
        </tbody>
    </table>
</body>
</html>