<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oooh+Baby&display=swap" rel="stylesheet" />
    <style>
        body {
            display: flex; justify-content: center
        }
    </style>
</head>
<body>
    <div class="ColdEmailTemplate" style="width: 790px;background: white; border: 0.50px rgba(0, 0, 0, 0.60) solid;">
        <!--Header start-->
        <div class="Header" style="width: 790px; height: 180px; background: #4D648D; display: flex; justify-content: center;" >
            <p class="MakingTheFirstContact" style="color: white; font-size: 35px; font-family: Poppins; font-weight: 600; word-wrap: break-word;">MAKING THE FIRST CONTACT</p>
        </div>
        <!--Header end-->

        <!--Content start-->
        <div class="Content"
             style="width: 740px;
                    margin-top: -55px;
                    background: white;
                    border-radius: 20px;
                    border: 0.50px rgba(0, 0, 0, 0.60) solid;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-left: 25px;">

            <!--Logo-->
            <img class="logo" style="margin-left: -465px;margin-top: 40px;" src="/static/icon/logo.svg"/>

            <!--Message-->
            <div class="message" style="width: 712px;margin-top: 30px;margin-bottom: 40px; text-align: justify">
                <span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
                Dear ${company},<br/><br/></span>

                <span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 400; letter-spacing: 1px; word-wrap: break-word; line-height: 1.5">
                I am ${salesperson} from Blossom.<br/>
                I wanted to discuss how we could help you in ${description}.<br/>
                Are you available for a quick call or 10 minutes chat on Skype tomorrow at your convenient time?<br/>
                Hoping to hear from you!<br/></span>

                <span style="color: black; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word; line-height: 1.5"><br/>
                Regards,<br/>Blossom</span>
            </div>
        </div>
        <!--Content end-->

        <!--Footer start-->
        <div class="Footer" style="width: 790px; height: 50px;margin-top: 50px; background: #4D648D;display: flex;align-items: center;justify-content: center;">
                <p class="Copyright" style="color: white; font-size: 15px; font-family: Poppins; font-weight: 400; letter-spacing: 0.75px;word-wrap: break-word">Copyright</p>
                <img class="copyrighticon" src="/static/icon/ph_copyright-thin.svg" style="width: 15px;">
                <p class="Blossom" style="color: white; font-size: 15px; font-family: Poppins; font-weight: 400; letter-spacing: 0.75px;word-wrap: break-word ">2024 | Blossom</p>
        </div>
        <!--Footer end-->

    </div>
</body>
</html>