<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Send email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap" rel="stylesheet">
        <style>
            body {
                margin: 0 auto; padding: 0;
                font-family: Pontano Sans, sans-serif;
            }
        </style>
    </head>
    <body>
        <tr><td style="color: black; font-size: 20px; font-weight: 400; line-height: 1.8" align="center"><span>
            Dear Sir/Madam,<br/>
            Thank you for inviting us to quote for your project. We have reviewed your request and are pleased to present our response.
            I have attached herewith a quotation according to your requirement.<br/>
            We would welcome the opportunity to discuss this quote, and provide answers to any questions you may have.
            All of us are excited about the potential of working with you.<br/>
            We hope that you find our cost schedule acceptable and select us as your partner for this exciting project.
            I am sure we can achieve great things together!<br/>
            Yours Sincerely,<br/>
            ${salesperson}
            </span>
            </td>
        </tr>
    </body>
</html>